.Tokenfield {
	position: relative;
	background: #fff;
	border-radius: .25rem;
	border: 2px solid #ccc;
	width: 55rem;
	font-size: 1rem;
	text-align: left;
}

.Tokenfield + .Tokenfield {
	margin-top: 1rem;
}

.Tokenfield.focused {
	border-color: blue;
}

.Tokenfield:not([data-multiple]).filled input {
	visibility: hidden
}

.Tokenfield ul.values {
	margin: 0;
	padding: 0;
	display: inline;
	vertical-align: top;
}

.Tokenfield ul.values > li {
	display: inline;
	line-height: 1.4rem;
	vertical-align: top;
}
.Tokenfield ul.values > li button {
	right: -.5rem;
}
.Tokenfield:not([data-multiple]) ul.values li .remove{
	display: none;
	padding-right: 0;
}
.Tokenfield[data-multiple] ul.values li {
	background: #eaeaea;
	border-radius: 0.25rem;
}

.Tokenfield ul.values li {
	color: #333;
	display: inline-block;
	margin: 0.25rem;
	padding: 0.25rem;
	padding-right: 2rem;
	position: relative;

}
.Tokenfield input {
	font-size: 1.5rem;
	line-height: 2.25rem;
	min-width: 25rem;
	border-radius: .25rem;
	background: transparent;
	border: 0;
	display: inline;
	box-sizing: border-box;
	font-weight: normal;
	outline: none;
}

.Tokenfield button {
	font-size: 0;
	border: 0;
	color: transparent;
	width: 3rem;
	height: 2rem;
	padding-right: .5rem;
	cursor: pointer;
	line-height: 2rem;
	vertical-align: middle;
}
.Tokenfield .buttons {
	line-height: 2.25rem
}
.Tokenfield .buttons,
.Tokenfield ul.values button {
	position: absolute;
	margin: auto;
	bottom: 0;
	top: 0;
	right: 0;
}
.Tokenfield .clear {
	background: no-repeat center center url(icons/close.svg);
	border-right: 1px solid #ccc;
}

.Tokenfield .remove {
	background: no-repeat center center url(icons/close.svg);
}

.Tokenfield .expand {
	right: 0;
	background: no-repeat center center url(icons/expand.svg);
	background-size: 36px;

}





.Tokenfield ul.suggestions {
	position: absolute;
	top: 100%;
	z-index: 10;
	background: #fff;
	color: #333;
	padding: 0;
	margin: 0;
	margin-top: 0.25rem;
	border-radius: 0.2rem;
	left: 0;
	right: 0;
	max-height: 20rem;
	overflow: auto;
	box-shadow: 0px 5px 15px #000;
}

.Tokenfield ul.suggestions > li{
	list-style: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	line-height: 2rem
}
.Tokenfield ul.suggestions > li.selected{
	color: #fff;
	background: blue
}

.Tokenfield {
	transition: background-color 0.3s;
}
.Tokenfield.changed {
	background: yellow;
}